@import url(./tokens/typography.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    width: 12px;
    height: 12px;
    border-color: theme('colors.ultramarine.50');
    border-width: 2px;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-scenario {
    width: 12px;
    height: 12px;
    border-color: theme('colors.rose.50');
    border-width: 2px;
    border-style: solid;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
