@font-face {
    font-family: "Unica 77";
    font-weight: 300;
    src: url("https://diagonal.works/fonts/unica77-light.woff") format("woff");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 300;
    src: url("https://diagonal.works/fonts/unica77-light.woff2") format("woff2");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 400;
    src: url("https://diagonal.works/fonts/unica77-regular.woff") format("woff");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 400;
    src: url("https://diagonal.works/fonts/unica77-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 500;
    src: url("https://diagonal.works/fonts/unica77-medium.woff") format("woff");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 500;
    src: url("https://diagonal.works/fonts/unica77-medium.woff2") format("woff2");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 700;
    src: url("https://diagonal.works/fonts/unica77-bold.woff") format("woff");
}

@font-face {
    font-family: "Unica 77";
    font-weight: 700;
    src: url("https://diagonal.works/fonts/unica77-bold.woff2") format("woff2");
}

html {
    background: white;
    font-family: "Unica 77", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    border: 1px solid #7779b0;
    border-radius: 2px;
}

.ol-zoom {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 0;
    width: min-content;
    background-color: white;
}

.ol-zoom:hover,
.ol-zoom:focus {
    background-color: white;
}

.ol-zoom-in {
    background-color: white;
    background-image: url("/images/zoom-in.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
}

.ol-zoom-in:hover,
.ol-zoom-in:focus {
    background-color: white;
}

.ol-zoom-out {
    background-color: white;
    background-image: url("/images/zoom-out.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
}

.ol-zoom-out:hover,
.ol-zoom-in:focus {
    background-color: white;
}

.ol-control button {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

#shell {
    position: absolute;
    left: 10px;
    top: 42px;
    width: 1000px;
    line-height: 22px;
    font-size: 16px;
    z-index: 1;
    transition: all 0.3s;
    background: white;
    padding: 12px;
    border: 1px solid #a6abbf;
    border-radius: 3px;
}

#shell.closed {
    left: -10010px;
}

.clickable {
    cursor: pointer;
}

form.shell {
    display: flex;
    flex-direction: row;
}

form.shell > .prompt {
    color: #528dff;
    margin-right: 8px;
}

form.shell > input {
    border: 0px;
    padding: 0px;
    outline: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    flex: 1 0 auto;
}

.palette {
    display: none;
}

.palette > .road-fill {
    stroke: #e1e1ee;
}

.palette > .highlighted-road-fill {
    stroke: #37589f;
}

.palette > .highlighted-point {
    stroke: #37589f;
    fill: #5f8ef7;
    stroke-width: 1;
}

.palette > .highlighted-path {
    stroke: #37589f;
    stroke-width: 2;
}

.palette > .highlighted-area {
    stroke: #37589f;
    stroke-width: 1;
    fill: #93acf6;
}

.palette > .geojson-point {
    stroke: #37589f;
    fill: #5f8ef7;
    stroke-width: 1;
}

.palette > .geojson-path {
    stroke: #37589f;
    stroke-width: 2;
}

.palette > .geojson-area {
    stroke: #37589f;
    stroke-width: 1;
    fill: #93acf6;
}

.palette > .query-point {
    stroke: #4f5a7d;
    stroke-width: 1;
}

.palette > .query-path {
    stroke: #4f5a7d;
    stroke-width: 2;
}

.palette > .query-area {
    stroke: #4f5a7d;
    stroke-width: 1;
    fill: #ffffff;
}

.atom-labelled-icon > img {
    vertical-align: text-bottom;
    padding-right: 9px; /* Inset squish XS */
}

.line {
    width: 282px;
    max-width: 282px;
    height: 20px;
    box-sizing: content-box;
    padding: 12px; /* Inset square S */
    border: 1px solid #dbdeec; /* Graphite 30 */
    color: #20263b; /* Graphite 100 */
    background: #ffffff;
    font-family: "Unica 77";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line-value-pair {
    display: flex;
    flex-direction: row;
}

.line-value-pair > span {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line-value-pair > :first-child {
    padding-right: 4px; /* Inset squish XXS */
}

.line-value-pair > :last-child {
    flex: 0 1 auto;
}

.line-expression {
    background: #f8f9fc; /* Graphite 10 */
    cursor: grab;
}

.dragging .line-expression {
    cursor: grabbing;
}

.line-suggestion {
    background: #f8f9fc; /* Graphite 10 */
}

.line-suggestion.highlighted {
    background: #d6defb; /* Ultramarine 30 */
}

.line-tags {
    height: max-content;
}

.line-tags > ul {
    margin: 0px;
    padding: 0px;
}

.line-tags > ul > li {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.line-tags > ul > li > span {
    padding-right: 4px; /* Inset squish XXS */
}

.line-tags > ul > li > span:last-child {
    padding-right: 0px;
}

.line-tags .prefix {
    flex: 0 0 14px;
}

.line-tags .key {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1 0 auto;
}

.line-tags .value {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 0 1 auto;
}

.line-histogram-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    line-height: 16px;
    height: 26px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.line-histogram-bar .range-icon {
    flex: 0 0 auto;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px; /* Inset squish XXS */
    width: 12px;
    height: 12px;
}

.line-histogram-bar .index-0 {
    background-color: #F4D4E1;
}

.line-histogram-bar .index-1 {
    background-color: #EAB5C8;
}

.line-histogram-bar .index-2 {
    background-color: #E09BB5;
}

.line-histogram-bar .index-3 {
    background-color: #CF7C9D;
}

.line-histogram-bar .index-4 {
    background-color: #AD5577;
}

.line-histogram-bar .range {
    flex: 1 0;
}

.substack .line-histogram-bar {
    border-top-color: white;
}

.substack .line-histogram-bar:first-child {
    border-top-color: #dbdeec; /* Graphite 30 */
}

.line-histogram-bar .value {
    flex: 0 1 auto;
    padding-right: 5px;
    padding-left: 5px;
    color: #528DFF;
}

.line-histogram-bar .total {
    flex: 0 1 auto;
    color: #8990AC;
}

.line-histogram-bar .value-bar {
    display: flex;
    flex: 1 1 100%;
    margin-top: 6px;
    height: 4px;
    border-radius: 2px;
    background-color: #ECEFF8;
    background-repeat: no-repeat;
}

.line-histogram-bar .value-bar > .fill {
    background-color: #4F5A7D;
    border-radius: 2px;
    width: 100%;
}

.line-question {
    font-weight: 300;
    height: max-content;
    white-space: wrap;
}

.line-shell > form {
    display: flex;
    flex-direction: row;
}

.line-shell > form > .prompt {
    color: #528dff;
    padding-right: 8px; /* Inset squish XS */
}

.line-shell > form > input {
    border: 0px;
    padding: 0px;
    outline: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    flex: 1 0 auto;
}

.line-error {
    background: #ed968a;   
}

.stack {
    border: 1px solid #8990ac;
    border-radius: 4px;
}

.stack-featured {
    position: absolute;
}

.stack > .substack {
    border-top: 1px solid #dbdeec; /* Graphite 30 */
    border-bottom: 0px;
}

.stack > .substack > .scrollable {
    overflow-y: scroll;
    box-sizing: content-box;
    max-height: 269px;
}

.stack > .substack.collapsable > .scrollable {
    overflow-y: hidden;
    max-height: 44px;
    transition: max-height 0.5s ease-in-out;
}

.stack > .substack.collapsable.collapsable-open > .scrollable {
    overflow-y: scroll;
    max-height: 269px;
    transition: max-height 0.5s ease-in-out;
}

.stack > .substack > .scrollable > .line {
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.stack > .substack > .scrollable > .line:first-child {
    border-top: 0px;
}

.stack > .substack:first-child {
    border-top: 0px;
}

.stack > .substack:first-child > .scrollable > .line:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.stack > .substack:last-child > .scrollable > .line:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dock {
    position: absolute;
    top: 100px;
    left: 10px;
}

#dock > .stack {
    margin-bottom: 6px;
}

#dock > .stack.closed > .substack {
    display: none;
}

#dock > .stack.closed > .substack:first-child {
    display: block;
}

#dock > .stack.closed > .substack:first-child > .scrollable > .line:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#dock > .stack.closed {
    border: 1px solid #dbdeec; /* Graphite 30 */
}

#dock > .stack.closed .line-question {
    color: #4f5a7d; /* Graphite 80 */
}

#dock > .stack.closed .line-question:hover {
    background: #f8f9fc /* Graphite 10 */
}