#html {
    background: white;
    font-family: "Roboto", sans-serif;
}

#map {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;    
    border: 1px solid #7779b0;
    border-radius: 2px;    
}

.ol-zoom {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 0;
    width: min-content;
    background-color: white;
}

.ol-zoom:hover, .ol-zoom:focus {
    background-color: white;
}

.ol-zoom-in {
    background-color: white;
    background-image: url("/images/zoom-in.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
}

.ol-zoom-in:hover, .ol-zoom-in:focus {
    background-color: white;
}

.ol-zoom-out {
    background-color: white;
    background-image: url("/images/zoom-out.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 0px;
}

.ol-zoom-out:hover, .ol-zoom-in:focus {
    background-color: white;
}

.ol-control button {
    height: 24px;
    width: 24px; 
    cursor: pointer;
}

#shell {
    position: absolute;
    height: 360px;
    max-height: 360px;
    overflow: scroll;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #7779b0;
    border-left: 1px solid #7779b0;
    border-right: 1px solid #7779b0;
    border-radius: 2px;
    background: white;
    z-index: 1;
    transition: all 0.5s;
    padding-left: 4px;
    padding-right: 4px;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 12px;
}

#shell > .items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#shell.closed {
    top: -362px;
}

#shell.open {
    top: 0px;
}

#shell > .items > .line {
    line-height: 18px;
    min-height: 18px;
    height: 18px;
    overflow: hidden;
}

#shell > .items > .line > .literal:hover {
    text-decoration: underline;
}

#shell span.prompt {
    color: #6f84f0;
    padding-right: 4px;
}

#shell span.marker {
    color: #6f84f0;
    position: relative;
    top: -0.4em;
    font-size: smaller;
}

#shell span.reference {
    color: #6f84f0;
}

#shell > .items > form {
    height: 18px;
    margin: 0px;
}

#shell > .items > form > input {
    display: inline-block;
    border: 0px;
    outline: 0px;
    width: 80%;
    padding: 0px;
    height: 18px;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-variant-ligatures: none;
    line-height: inherit;
}
